/**
 * View script for {{namespace}}/{{slug}} Gutenberg block.
 *
 * If you don't need a view script, delete this file and remove viewScript from
 * this block's block.json file.
 */
console.log('Hello from {{namespace}}/{{slug}} view.js!');
